<footer class="d-flex flex-justify-between">
    <div>
        @bfban bot for kook 2022-<script>document.write(new Date().getFullYear())</script>
        <span class="site-footer-content">Developed by cabbagelol and implemented based on the bfban service, bfban bot for kook</span>

    </div>
    <div>
        <a href="https://bfban.com">
            <img src="https://github.com/BFBAN/exterior-design/blob/main/Materials/friendly-web.png?raw=true" width="100">
        </a>
    </div>
</footer>

<style>
    .site-footer {
        display: none !important;
    }

    .site-footer-content {
        display: block;
        opacity: .7;
        font-size: 12px;
    }
</style>
